ion-input {
    font-size: 15px;
}

ion-toolbar{
   text-align: center;
}

/*ion-button{
    width:50%;
    margin-left:25%;
    margin-right:25%;
}*/

.cs{
    text-align: right;
    
}

.lo {
    text-align: center;
    padding: 50px 32px;
   
}
.image
{

  text-align: center;
}