<ion-header>
  <ion-toolbar>
    <ion-title><em>MENU <ion-icon name="grid-outline"></ion-icon> </em></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background:white">
  <hr>

  <ion-card>
  <ion-item >
    <ion-input shape="round" placeholder="search for products"></ion-input><ion-button
    style="--background:black"><ion-icon name="search-outline"></ion-icon></ion-button>
  </ion-item>
</ion-card>
<hr>

<div class="im">
  
<ion-card>
  <ion-slide>
    <img src="./assets/images/cement.jpg">
  </ion-slide>
</ion-card>

</div>
</ion-content>
